<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">

  <select id="selectByUsername" parameterType="java.lang.String" resultType="com.example.demo.model.User">
    select *
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.example.demo.model.User">
    insert into user (nick_name, password, 
      register_data, username)
    values (#{nickName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{registerData,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR})
  </insert>

</mapper>