<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>chat</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
	<div class="row" style="margin: 0 0 10px 20px">
		<form class="form-inline" onSubmit="return false;">
  			<div class="form-group">
   	 			<input type="text" class="form-control" id="friendInput" placeholder="好友帐号"/>
  			</div>
  			<button class="btn btn-default" id="addBtn">添加好友</button>
  			<button class="btn btn-default disabled" id="groupBtn">群聊模式</button>
		</form>
	</div>
	
	<div class="row center-block">

        <div style="margin: 0 10px; width: 350px; display: inline-block">

            <div class="panel panel-danger" >
                <div class="panel-heading">
                    
                    <div style="display:inline-block; width: 200px; height: 64px;">
                        <p style="margin: 0; padding: 6px 0; font-size: 20px" th:text="${user.username}"></p>
                        <p style="margin-bottom: 0; overflow: hidden; height: 16px">Online</p>
                    </div>
                </div>
                <div class="panel-body" style="height: 390px; overflow-y: scroll; overflow: auto">

                    <button class="friend" th:each="friend : ${friends}">
                        <div class="media-body" style="text-align: left">
                            <h4 class="media-heading f-name" th:text="${friend.name}"></h4>
                            <p class="hidden f-name" th:text="${friend.name}">anoy</p>
                        </div>
                    </button>

                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-console"></span> [当前] - [<span id="target">所有人</span>]</h3>
                </div>
                <div class="panel-body" style="height: 380px; overflow-y: scroll; overflow: auto" id="messageWindow">


                </div>

            </div>
			
			<input id="image"style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute" type="file" accept="image/*"/>	
			<label for="image">选择图片</label>
			
			<input id="file"style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute" type="file"/>	
			<label for="file">选择文件</label>
            <div class="row">
                <div class="col-xs-9 col-md-10">
                    <input type="text" class="form-control" placeholder="Message" id="message"/>
                </div>
                <div class="col-xs-3 col-md-2">
                	
                    <button class="btn btn-primary btn-block" id="send"><span class="glyphicon glyphicon-send"></span> 发送</button>
                </div>
            </div>
        </div>

    </div>
	
	
	
	<script type="text/javascript">
	var target = "to_all";

    var stompClient = null;

    function connect() {
        var socket = new SockJS('/any-socket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/all', function (message) {
                showMessage(JSON.parse(message.body));
            });
            stompClient.subscribe('/user/topic/chat', function (message) {
                showMessage(JSON.parse(message.body));
            });
            stompClient.subscribe('/topic/pic/all', function (message) {
                showImg(message);
            });
            stompClient.subscribe('/topic/file/all', function (message) {
                showfile(message);
            });
        });
    }

    function showMessage(message) {
        $("#messageWindow").append("<div class='message-div row'>"+
                                   " <div style='margin-left: 55px'>"+
                                   "<p class='user-username'>" + message.sender + "说：</p> <p class='user-time'>"+message.sendTime+"</p>"+
                                   "<div class='message-box-left'>" + message.content + "</div></div></div><br></br>"
        );
    }
    
    var imgsrc = "";
    
    function showImg(message) {
    	var img = document.createElement("img");
    	var body = message.body;
    	if(body.indexOf(":") != -1){
    		imgsrc += body.substring(0,60000);
    	}else{
    		imgsrc += body;
    		img.src="data:"+imgsrc;
        	img.width=100;
        	document.getElementById("messageWindow").appendChild(img);
        	$("#messageWindow").append("<br/>");
        	imgsrc = "";
    	}
    	
    }
    
   	var filesrc = "";
    function showfile(message) {
    	var body = message.body;
    	if(body.indexOf("_") != -1){
    		filesrc += body.substring(0,60000);
    	}else{
    		filesrc += body;
    		var blob = new Blob([filesrc]);
    		var a = document.createElement("a");
    		a.href = window.URL.createObjectURL(blob);
    		a.download = "a.txt";
    		a.textContent = "Download";

    		document.getElementById("messageWindow").appendChild(a);
        	/* $("#messageWindow").append("<div>"+filesrc+"</div><br/>"); */
        	filesrc = "";
    	}
    	
    } 

    $(function () {
        connect();

        $("#send").click(function () {
        	var imageElement = document.getElementById("image");  
            var imageList = imageElement.files;  
            var image=imageList[0];
            
            var fileElement = document.getElementById("file");  
            var fileList = fileElement.files;  
            var file=fileList[0]; 
 
            if (target == "to_all"){
            	if($("#message").val()){
            		stompClient.send("/app/all", {}, $("#message").val());
            	}
                
            	if(file){
                    var reader = new FileReader();  
                    //以二进制形式读取文件  
                    reader.readAsText(file,"UTF-8");  
                    //文件读取完毕后该函数响应  
                    reader.onload = function loaded(evt) {
                        var blob = evt.target.result;
                        var str = blob;
                        /* var sr = blob.split(":");
                        var str = sr[1];
                        var lock = false; */
                        while(str.length>60001){
                        	var sub=str.substring(0,60000)+"_";
                        	str = str.substring(60000);
                        	stompClient.send("/app/file/all", {}, sub); 
                        }
                        stompClient.send("/app/file/all", {}, str); 
                        
                    } 
                }  
            	
                if(image){
                    var reader = new FileReader();  
                    //以二进制形式读取文件  
                    reader.readAsDataURL(image);  
                    //文件读取完毕后该函数响应  
                    reader.onload = function loaded(evt) {
                        var blob = evt.target.result;
                        var sr = blob.split(":");
                        var str = sr[1];
                        while(str.length>60001){
                        	var sub=str.substring(0,60000)+":";
                        	str = str.substring(60000);
                        	stompClient.send("/app/pic/all", {},/* img */sub); 
                        }
                        stompClient.send("/app/pic/all", {},/* img */str); 
                        
                    } 
                }  

            }else{
                var content = "{'type':'to_one','content':'" + $("#message").val() + "','receiver':'"+target+"'}";
                stompClient.send("/app/chat", {}, content);
            }
            $("#message").val("");
        });

        $(".friend").click(function () {
            target = $(this).find("p.f-name").text();
            var username = $(this).find("h4.f-name").text();
            $("#target").text(username);
            $("#groupBtn").attr("class","btn btn-default");
        });
        
        $("#groupBtn").click(function(){
        	$(this).attr("class","btn btn-default disabled");
        	target = "to_all";
        	$("#target").text("所有人");
        });
		$("#addBtn").click(function(){
	    	var friend = $("#friendInput").val();
	    	if(friend.length == 0){
	    		return;
	    	}
	    	$.post("/addfriend",
	    			{"friend" : friend},
	    			function(data){
	    				alert(data);
	    				window.location.reload();
	    			}
	    	);
	    });
    });
	</script>
</body>
</html>